@tailwind base;
@tailwind components;
@tailwind utilities;

/* 오늘 날짜 기본 배경색 제거 */
.fc-day-today {
  @apply bg-gs00 !important;
}

.fc-daygrid-day {
  @apply bg-gs00;
  min-width: 30px;
  min-height: unset !important;
  max-width: 120px !important;
  border: 0.5px solid #e2e8f0 !important;
  position: relative !important;
}

.fc-daygrid-day.selected {
  outline: 2px solid #3b82f6 !important;
  outline-offset: -2px;
}

.fc-col-header-cell {
  @apply border-[0.5px] border-gs200 bg-gs50 py-2 text-14M text-gs500 !important;
}

.fc-daygrid-day-top > a {
  padding-bottom: 1px !important;
}

.fc-day-other {
  @apply bg-gs20;
}

.fc-day-other .fc-event {
  opacity: 0.5 !important;
}

.fc-daygrid-day-number {
  padding: 8px !important;
}
.fc-daygrid-day-top {
  flex-direction: row !important;
}

.fc-scrollgrid {
  max-width: 840px !important;
  width: 100%;
}

/* 이벤트 스타일 */
.fc-event {
  @apply mx-0 overflow-hidden text-ellipsis whitespace-nowrap px-[6px] py-[2px] text-12SB !important;
  border-radius: 2px;
  line-height: 0.75rem;
}

.fc-daygrid-day-events {
  padding: 8px 4px;
  margin-bottom: 0 !important;
  margin-top: 0.5rem !important;
}

.fc-event-main {
  color: unset !important;
}

/* 기본: 4번째 이벤트부터 숨김 */
.fc-daygrid-day-events > *:nth-child(n + 4) {
  display: none !important;
}

/* 📌 화면 너비가 768px 이하일 때 → 3번째 이벤트부터 숨김 */
@media (max-width: 1024px) {
  .fc-daygrid-day-events > *:nth-child(n + 3) {
    display: none !important;
  }
  .fc-daygrid-day-events {
    margin-top: 0.25rem;
  }
  .fc-event {
    line-height: 12px;
  }
}

/* 📌 화면 너비가 480px 이하일 때 → 2번째 이벤트부터 숨김 */
@media (max-width: 768px) {
  .fc-daygrid-day-events > *:nth-child(n + 2) {
    display: none !important;
  }
  .fc-event {
    font-size: 8px;
  }
  .fc-daygrid-day-events {
    margin-top: 0.15rem !important;
    padding-top: 4px !important;
  }
}
