@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --fc-border-color: #e2e8f0;

  --gs00: #ffffff;
  --gsBk: #000000;
  --gs20: #fcfdfe;
  --gs50: #f8fafc;
  --gs100: #f1f5f9;
  --gs200: #e2e8f0;
  --gs300: #cbd5e1;
  --gs400: #94a3b8;
  --gs500: #64748b;
  --gs600: #475569;

  --warn50: #fff2f2;
  --warn500: #f95f5f;

  --goal01: #fb923c;
  --goal01-100: #ffedd5;
  --goal02: #facc15;
  --goal02-100: #f4f1e3;
  --goal03: #1eeabe;
  --goal03-100: #effffc;
  --goal04: #c95aee;
  --goal04-100: #fcf3fe;
  --goal05: #f87171;
  --goal05-100: #ffecec;

  --slate50: #eff6ff;
  --slate100: #dbeafe;
  --slate200: #bfdbfe;
  --slate300: #93c5fd;
  --slate400: #60a5fa;
  --slate500: #3b82f6;
  --slate700: #1d4ed8;
  --slate800: #1e40af;
}

[data-color='green'] {
  --slate50: #ecfdf5;
  --slate100: #d1fae5;
  --slate200: #a7f3d0;
  --slate300: #6ee7b7;
  --slate400: #34d399;
  --slate500: #10b981;
  --slate700: #047857;
  --slate800: #065f46;
}

[data-color='pink'] {
  --slate50: #fdf2f8;
  --slate100: #fce7f3;
  --slate200: #fbcfe8;
  --slate300: #f9a8d4;
  --slate400: #f472b6;
  --slate500: #ec4899;
  --slate700: #be185d;
  --slate800: #9d174d;
}

[data-color='purple'] {
  --slate50: #f5f3ff;
  --slate100: #ede9fe;
  --slate200: #ddd6fe;
  --slate300: #c4b5fd;
  --slate400: #a78bfa;
  --slate500: #8b5cf6;
  --slate700: #6d28d9;
  --slate800: #5b21b6;
}

[data-dark='true'] {
  --gs00: #000000;
  --gsBk: #ffffff;
  --gs20: #181a1d;
  --gs50: #181a1d;
  --gs100: #252a30;
  --gs200: #353d49;
  --gs300: #404853;
  --gs400: #5b6a7d;
  --gs500: #647893;
  --gs600: #7a899e;

  --warn50: #312929;
  --warn500: #e74b4b;

  --goal01: #fb923c;
  --goal01-100: #40382e;
  --goal02: #facc15;
  --goal02-100: #444134;
  --goal03: #1eeabe;
  --goal03-100: #2c3634;
  --goal04: #c95aee;
  --goal04-100: #44334a;
  --goal05: #f87171;
  --goal05-100: #493737;

  --slate50: #111c2f;
  --slate100: #1e2f4a;
  --slate200: #183863;
  --slate300: #214c85;
  --slate400: #2462b4;
  --slate500: #3a81f3;
  --slate700: #8cb5f6;
  --slate800: #b1ccf6;

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #334155 inset; /* 배경색 설정 */
    -webkit-text-fill-color: #fff; /* 텍스트 색상 설정 */
    background-clip: content-box; /* 배경색을 모서리까지 적용 */
  }
}

[data-dark='true'][data-color='green'] {
  --slate50: #0b281e;
  --slate100: #0e382a;
  --slate200: #0e382a;
  --slate300: #16644a;
  --slate400: #1e8d68;
  --slate500: #10b981;
  --slate700: #62dcb4;
  --slate800: #b4ead9;
}

[data-dark='true'][data-color='pink'] {
  --slate50: #23121a;
  --slate100: #462133;
  --slate200: #71274b;
  --slate300: #933061;
  --slate400: #c74284;
  --slate500: #ec4899;
  --slate700: #ea98c1;
  --slate800: #f7cfe3;
}

[data-dark='true'][data-color='purple'] {
  --slate50: #1c142f;
  --slate100: #312159;
  --slate200: #47307e;
  --slate300: #513790;
  --slate400: #6945be;
  --slate500: #8b5cf6;
  --slate700: #c4aff6;
  --slate800: #e5d9ff;
}

body {
  color: var(--gsBk);
  background: var(--gs00);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .clip-circle-40 {
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 80%);
  }
}

@layer components {
  .text-overflow {
    @apply overflow-hidden text-ellipsis whitespace-nowrap break-words;
  }

  .ql-align-center {
    @apply text-center;
  }
  .ql-align-right {
    @apply text-right;
  }
  .ql-align-left {
    @apply text-left;
  }

  li[data-list='bullet'] {
    list-style-type: disc;
    margin-left: 1.25rem;
  }

  li[data-list='ordered'] {
    list-style-type: decimal;
    margin-left: 1.25rem;
  }
}

@layer utilities {
  @keyframes dropdown {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .animate-dropdown {
    animation: dropdown 0.4s ease forwards;
  }
}
