@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --fc-border-color: #e2e8f0;
  --gs00: #ffffff;
  --gsBk: #000000;
  --gs20: #fcfdfe;
  --gs50: #f8fafc;
  --gs100: #f1f5f9;
  --gs200: #e2e8f0;
  --gs300: #cbd5e1;
  --gs400: #94a3b8;
  --gs500: #64748b;
  --gs600: #475569;
  --slate50: #eff6ff;
  --slate100: #dbeafe;
  --slate200: #bfdbfe;
  --slate300: #93c5fd;
  --slate400: #60a5fa;
  --slate500: #3b82f6;
  --slate700: #1d4ed8;
  --slate800: #1e40af;
}

[data-theme='dark'] {
  --gs00: #1a1d21;
  --gsBk: #f2f2f2;
  --gs20: #1a1a1a;
  --gs50: #222222;
  --gs100: #2a2a2a;
  --gs200: #333333;
  --gs300: #4a4a4a;
  --gs400: #5a5a5a;
  --gs500: #6a6a6a;
  --gs600: #7a7a7a;
}

[data-color='green'] {
  --slate50: #ecfdf5;
  --slate100: #d1fae5;
  --slate200: #a7f3d0;
  --slate300: #6ee7b7;
  --slate400: #34d399;
  --slate500: #10b981;
  --slate700: #047857;
  --slate800: #065f46;
}

[data-color='pink'] {
  --slate50: #fdf2f8;
  --slate100: #fce7f3;
  --slate200: #fbcfe8;
  --slate300: #f9a8d4;
  --slate400: #f472b6;
  --slate500: #ec4899;
  --slate700: #be185d;
  --slate800: #9d174d;
}

[data-color='purple'] {
  --slate50: #f5f3ff;
  --slate100: #ede9fe;
  --slate200: #ddd6fe;
  --slate300: #c4b5fd;
  --slate400: #a78bfa;
  --slate500: #8b5cf6;
  --slate700: #6d28d9;
  --slate800: #5b21b6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
  /* 다크모드일 때, 자동 완성된 입력 필드 배경색 변경 */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #334155 inset; /* 배경색 설정 */
    -webkit-text-fill-color: #fff; /* 텍스트 색상 설정 */
    background-clip: content-box; /* 배경색을 모서리까지 적용 */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .clip-circle-40 {
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 80%);
  }
}

@layer components {
  .text-overflow {
    @apply overflow-hidden text-ellipsis whitespace-nowrap break-words;
  }
}

@layer utilities {
  @keyframes dropdown {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .animate-dropdown {
    animation: dropdown 0.4s ease forwards;
  }
}
