.quill {
  @apply flex h-full flex-col-reverse;
}

.ql-container {
  @apply flex flex-1 flex-col overflow-auto;
}

.ql-container.ql-snow {
  @apply min-h-0 flex-1 border-none;
}

.ql-editor {
  @apply flex-1 overflow-auto p-0;
}

.ql-editor::after {
  @apply pointer-events-none absolute bottom-0 left-0 h-7 w-full;
  content: '';
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.ql-editor.ql-blank::before {
  @apply text-16R left-0 not-italic text-gs400;
}

.ql-editor p {
  @apply text-16R;
}

.ql-toolbar.ql-snow {
  @apply z-10 w-full min-w-[460px] max-w-[752px] rounded-full border-gs200 bg-gs00;
  @apply absolute bottom-2 transform sm:left-1/2 sm:-translate-x-1/2;
  box-shadow: 0px 1px 2px 0px #0000000d;
}

.ql-toolbar.ql-snow .ql-formats {
  @apply mr-4;
}

.ql-toolbar.ql-snow .ql-formats:last-child {
  @apply absolute right-2 mr-0;
}

.ql-snow.ql-toolbar:after {
  @apply hidden;
}

.ql-picker-options {
  @apply bottom-full top-auto !important;
}
