.quill {
  @apply h-full;
  @apply flex;
  @apply flex-col-reverse;
}
.ql-container {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.ql-container.ql-snow {
  @apply border-none;
  @apply flex-1;
  @apply min-h-0;
  @apply pb-2;
}
.ql-editor {
  @apply p-0;
  flex: 1;
  overflow: auto;
}
.ql-editor.ql-blank::before {
  @apply left-0;
  @apply not-italic;
  @apply text-16R;
  @apply text-gs400;
}

.ql-editor p {
  @apply text-16R;
}
.ql-toolbar.ql-snow {
  @apply border-gs200;
  @apply rounded-full;
  @apply sticky;
  @apply z-10;
  @apply bottom-0;
  @apply bg-gs00;
  box-shadow: 0px 1px 2px 0px #0000000d;
  @apply min-w-[460px];
}
.ql-toolbar.ql-snow .ql-formats {
  @apply mr-4;
}
.ql-toolbar.ql-snow .ql-formats:last-child {
  @apply absolute;
  @apply right-2;
  @apply mr-0;
}
.ql-snow.ql-toolbar:after,
.ql-snow .ql-toolbar:after {
  @apply hidden;
}
/* .ql-snow .ql-formats:after {
  @apply hidden;
} */
